body
{ 
      margin:0;
	  padding:0;
	  font-family: Century Gothic;
}

header
{
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.JPG);
	 height: 100vh;
	 background-size: cover;
	 background-position: center;
}	 

ul
{
	float:right;
	list-style-type: none;
	margin-top:25px;
}

ul li
{
    display: inline-block;
	
}
	
ul li a
{
	text-decoration: none;
	color:aqua;
	padding:5px 20px;
	border: 1px solid transparent;
	transition:0.5s ease;
	border-radius: 100px;
}	

ul li a:hover
{
	box-shadow: 05px 50px 0 aqua inset, 0 5px 50px 0 aqua,
	            05px 50px 0 aqua inset, 0 5px 50px 0 aqua;
	background-color:aqua;
	color:black;
}

ul li.active a
{
	background-color:aqua;
	color:black;
	
}
.logo img
{
	float: left;
	width:150px;
	height:auto;
}

.main
{
	max-width: 1200px;
	margin:auto;
	
}	

.title
{
	position:absolute;
	top:40%;
	left:30%;
	transform: translate(-10%,-10%);
}

.title h1
{
	color:white;
	font-size:50px;
}	
	
.button
{
	position:absolute;
	top:70%;
	left:35%;
	transform: translate(-10%,-10%);
	
}	

.btn
{
	border: 4px solid white;
	padding: 15px 50px;
	color: white;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 100px
}

.btn:hover
{
	box-shadow: 05px 50px 0 red inset, 0 5px 50px 0 red,
	            05px 50px 0 red inset, 0 5px 50px 0 red;  
	background-color:#fff;
	color:#000;
	
}